{{ header }}
<div id="common-home" class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="card-deck">
        <div class="card zoom ">
          <img src="/product_image/profile.png" class="card-img-top" alt="...">
          <div class="center">
            <h5 class="card-title">Place Holder</h5>
          </div>
        </div>
        <div class="card zoom">
          <img src="/product_image/profile.png" class="card-img-top" alt="...">
          <div class="center">
            <h5 class="card-title">Place Holder</h5>
          </div>
        </div>
        <div class="card zoom">
          <img src="/product_image/profile.png" class="card-img-top" alt="...">
          <div class="center">
            <h5 class="card-title">Place Holder</h5>
          </div>
        </div>
        <div class="card zoom">
          <img src="/product_image/profile.png" class="card-img-top" alt="...">
          <div class="center">
            <h5 class="card-title">Place Holder</h5>
          </div>
        </div>
        <div class="card zoom">
          <img src="/product_image/profile.png" class="card-img-top" alt="...">
          <div class="center">
            <h5 class="card-title">Place Holder</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}